DATABASE_URL=postgresql://user:password@localhost:5432/learning_plan
SECRET_KEY=c8397021b16cde85ca8c0e04d5a80081f44da3243b5c899142ee29638193fca7
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
DEEPSEEK_API_KEY=sk-4adf675540994ccc85d509e7237d5561
DEEPSEEK_API_URL=https://api.deepseek.com/v1
CORS_ORIGINS=http://localhost:5173
